<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user_management.css')}}">
</head>
<body>
    {#{% for users in user %}
        {% if users %}
            <ul>
                <li>
                    {{users.users_fullname}} with <i style="font-weight: bolder;">{{users.users_email}}</i> 
                </li>
            </ul>
        {% else %}
            <p>
                No users currently
            </p>
        {% endif %}
    {% endfor %}#}

    <div class="container">
        
    </div>
</body>
</html>