* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #141414 !important;
}

form {
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    height: max-content;
    padding: 10vh 5%;
    position: relative;
    left: 25%;
    top: 5vh;
}

form h2 {
    color: plum;
    margin-bottom: 5vh;
}

form label {
    color: #fff;
}

button {
    background-color: plum !important;
    border: 1px solid plum !important;
}