* {
    padding: 0;
    margin: 0;
}

.main {
    height: max-content;
    padding: 10px;
    background-color: #1B1B1B;
}

.container {
    height: max-content;
    padding: 5vh 0;
    border: 1px solid grey;
    border-radius: 20px;
}

.c-head h2 {
    color: plum;
    font-weight: bolder;
}

.services {
    height: max-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.box {
    height: max-content;
    /* padding: 5vh 0; */
    width: 30%;
    /* border: 1px solid #fff; */
    margin: 2vh;
    border-radius: 20px;
    transition: .5s;
    background-color: #e2dddd;
    /* background-color: #4D4947; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.image-cont {
    height: 15vh;
    /* border-bottom: 1px solid red; */
}

.box .image {
    position: relative;
    left: 10%;
    top: 5vh;
    width: 70px;
    height: 70px;
    /* border-bottom: 1px solid whitesmoke; */
}

.box .image img {
    width: 100%;
    height: inherit;
}

.content {
    height: max-content;
    /* border: 1px solid green; */
    padding: 5vh;
}

.content p {
    width: 100%;
    padding: 0 !important;
    color: #1b1b1b !important;
}

.content h2 {
    font-weight: bolder;
    margin-bottom: 2vh;
    color: #1b1b1b !important;
}

.skills {
    display: flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    margin: 2vh 0;
    /* background: rgba(0, 0, 0, 0.5); */
    background: rgba(255, 255, 255, 0.3);
}


.skills img {
    height: 40px;
    width: 40px;
}

.latest-articles {
    height: max-content;
    padding: 5%;
    /* border: 1px solid #1B1B1B; */
    width: 100%;
    overflow: hidden;
    white-space: wrap;
    position: relative;
}

.latest-articles a {
    color: rgb(177, 28, 177); 
    text-decoration: none;
    background-color: #f0f0f0;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

.latest-articles a:hover {
    background-color: #e0e0e0;
    color: rgb(122, 10, 122);
}


.link {
    display: flex;
    transition: transform 0.5s ease;
    justify-content: center;
    align-items: center;
}


.content p {
    /* width: 100%; */
    padding: 2px !important;
    color: #1b1b1b !important;
}

@media (max-width: 768px) {

    .c-head {
        position: relative !important;
        left: 5% !important;
        height: max-content;
        width: 90% !important;
        /* border: 1px solid red !important; */
        padding: 5vh 2% !important;
    }

    .services {
        flex-direction: column;
    }

    .box {
        height: max-content;
        width: 90%;
        padding: 5vh 2%;
    }

    .skills {
        height: max-content;
        flex-direction: column;
    }

    .skills img {
        margin: 10px 0;
    }
}