* {
    padding: 0;
    margin: 0;
}

/* user_management.css */

body {
    font-family: Arial, sans-serif;
    background-color: #000 !important;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #141414;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fff;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: grey;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr {
    background-color: plum;
}

textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

button {
    background-color: grey;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
